<div class="footer">
  <div class="container">
    <div class="footer-grids row">
      <div class="col-12 col-md footer-grid">
        <img class="ourLogo" src="{{ ourLogo }}" alt="" />
        <small class="d-block mb-3 text-muted text-white">.</small>
      </div>
      <div class="col-4 col-md footer-grid">
        <h3 class="title">Services</h3>
        <ul>
          <li><a routerLink="/">Pest Prediction</a></li>
          <li><a href="#">Irrigation Optimization</a></li>
          <li><a href="#">Insects Monitoring</a></li>
          <li><a href="#">Fleet Monitoring</a></li>
          <li><a href="#">Consultation</a></li>
        </ul>
      </div>
      <div class="col-4 col-md footer-grid">
        <h3 class="title">More Info</h3>
        <ul>
          <li><a routerLink="/about">About us</a></li>
          <li><a routerLink="/partners">Partners</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-4 col-md footer-grid contact-grid">
        <h3 class="title">Contact us</h3>
        <ul>
          <li>ELZIAN (PVT) LTD, Mallavapittiya, <br>Keppedigala Rd,<br> Kurunegala.</li>
          <li>+94 768416637</li>
          <li><a href="mailto:example@mail.com">hello@elzian.com</a></li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<div class="copy">
  <div class="container">

    <img class="copy-left" src="../../assets/img/elzian_software_PNG.png" alt="Elzian Software" height="50px">
    <div class="copy-left">
      <p>Copyright © 2020. All rights reserved | Designed by <b class="font-weight-bold text-white"> ELZIAN Software </b></p>
    </div>
    <div class="social-icons">
      <ul>
        <li><a href="#" class="fb"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#" class="gg"></a></li>
        <li><a href="#" class="pn"></a></li>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!--//footer-->
