<div class="bg-light sticky-bottom">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <img class="ourLogo" src="{{ ourLogo }}" alt="" />
        <small class="d-block mb-3 text-muted">&copy; Agro-Innovative</small>
      </div>
      <div class="col-6 col-md">
        <h5>Services</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="#">Pest and Disease Prediction</a>
          </li>
          <li><a class="text-muted" href="#">Irigation Optimization</a></li>
          <li><a class="text-muted" href="#">Insects Monitoring</a></li>
          <li><a class="text-muted" href="#">Feet Monitoring</a></li>
          <li><a class="text-muted" href="#">Consultation</a></li>
          <li>
            <a class="text-muted" href="#">Recommendations Providing</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Products</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Advertiaing Platform</a></li>
          <li><a class="text-muted" href="#">Machinary</a></li>
          <li><a class="text-muted" href="#">Seeds</a></li>
          <li><a class="text-muted" href="#">Pesticides/Fertilizer</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Partners</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Business</a></li>
          <li><a class="text-muted" href="#">Education</a></li>
          <li><a class="text-muted" href="#">Government</a></li>
          <li><a class="text-muted" href="#">Research</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
