.divWeatherMain {
  display: block;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-attachment: black;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(8, 7, 42, 1) 50%
  );

  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.divWeatherMainAllForecasting {
  display: block;
  border-radius: 10px;
  margin: 0.01px;
  margin-top: 1px;
  width: 100%;
  height: 100%;
  background-attachment: black;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(8, 7, 42, 1) 50%
  );

  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.divWeatherMainAllForecasting > .weatherWidgetRow {
  display: block;
  margin: 2px auto;
  width: fit-content;
}

.weatherWidgetRow {
  display: block;
  margin: 5px auto;
  width: fit-content;
}

.sun {
  margin-top: 10px;
  color: yellow;
  filter: drop-shadow(1px 1px 10px yellow);
}
.moon {
  margin-top: 10px;
  color: white;
  filter: drop-shadow(1px 1px 10px yellow);
}

.cloudDiv {
  margin-top: -40px;
}

.cloud {
  color: rgb(104, 175, 197);
  filter: drop-shadow(1px 1px 5px rgb(104, 175, 197));

  animation-iteration-count: infinite;
  animation-name: cloudMovement;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes cloudMovement {
  from {
    margin-left: -55px;
  }
  to {
    margin-left: 65px;
  }
}
