<div class="container py-5">
  <div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-6">
      <div class="card border-info">
        <div class="card-header">Register</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <img class="ourLogo" src="../../assets/img/elzian_agro.png" />
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label for="email">Email address:</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="email"
                  placeholder="email"
                />
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input
                  type="password"
                  class="form-control"
                  [(ngModel)]="password"
                  id="pwd"
                  placeholder="password"
                />
              </div>
              <button (click)="register()" class="btn btn-success">
                Register
              </button>
              <!-- <button
          (click)="login()"
          class="btn btn-default"
          style="margin-left: 5px;"
        >
          Login
        </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
