<!-- About us -->
<div
  @fade
  id="about-us"
  class="position-relative overflow-hidden p-md-5 text-center About-us-div"
>
  <div class="py-5">
    <h1
      class="font-weight-bold font-white py-2 animate__animated animate__flip"
    >
      ABOUT US
    </h1>
    <div class="row welcome-note px-5 p-5">
      <div class="col-sm py-4 animate__animated animate__fadeInLeft">
        <img class="agro-innovative-logo" src="{{ companyLogo }}" alt="" />
      </div>
      <div class="col-sm py-5 animate__animated animate__fadeInRight">
        <p class="lead font-weight-normal font-white text-justify">
          {{ companyName }} <br />
          We are a company which provides smart agricultural solutions to
          protect harvest of our beloved farmers. <br /><br />
          <br />
          Team Agro-Innovative is behind this project. This is a research
          project under Generation Unlimited Global Youth Challenge organized by
          UNDP/UNICEF in collaboration with Education Department in Srilanka.
        </p>
        <br />
        <a class="btn btn-lg btn-success font-weight-bold" routerLink="/contact">
          Contact Us
        </a>
      </div>
    </div>
  </div>
</div>
