<div class="container full-height py-5">
  <!-- <weather-widget></weather-widget> -->
  <span class="badge badge-warning badge-pill">
    <h2 class="p-1">
      <i class="fa fa-shopping-cart mx-2" aria-hidden="true"></i> Agro Products
      Store
    </h2>
  </span>
  <hr />
  <p>
    Buying And Selling Platform
  </p>
  <p>
    We provide all in one Agro Product Shopping Platform for farmers and other
    agriculture related parties to purchase Agro Products directly from
    suppliers for a lower cost
  </p>

  <div class="row px-2 my-5">
    <div class="col-md col-sm-12">
      <img
        class="card"
        style="border-radius: 15px;"
        src="{{ shoppingImage1 }}"
        alt=""
      />
    </div>
    <div class="col-md-6 col-sm-12">
      <h4>Step 1</h4>
      <p>
        First go to Products page and select items what you want to purchase.You
        can add to cart for later purchase by clicking "Add To Cart" button
      </p>
    </div>
  </div>
  <hr />
  <div class="row px-2 my-5">
    <div class="col-md-6 col-sm-12">
      <h4>Step 2</h4>
      <p>
        After adding items to cart, Press the button "Shopping cart" and see
        your cart items
      </p>
    </div>
    <div class="col-md col-sm-12">
      <img
        class="card"
        style="border-radius: 15px;"
        src="{{ shoppingImage2 }}"
        alt=""
      />
    </div>
  </div>
  <hr />
  <div class="row px-2 my-5">
    <div class="col-md col-sm-12">
      <img
        class="card"
        style="border-radius: 15px;"
        src="{{ shoppingImage3 }}"
        alt=""
      />
    </div>
    <div class="col-md-6 col-sm-12">
      <h4>Step 3</h4>
      <p>
        Now you can purchase items. But before purchasing items, you should
        create an account and log in to our platform
      </p>
    </div>
  </div>
  <hr />
  <div class="row px-2 my-5">
    <div class="col-md-6 col-sm-12">
      <h4>Step 4</h4>
      <p>
        Create an account and log in OR Login With Google and purchase products
        and consume all our Dashboard services for free of charge.
      </p>
    </div>
    <div class="col-md col-sm-12">
      <img
        class="card"
        style="border-radius: 15px;"
        src="{{ loginImage }}"
        alt=""
      />
    </div>
  </div>

  <div>
    <span class="badge badge-pill">
      <a href="products">
        <i class="fa fa-shopping-cart mx-2 fa-lg" aria-hidden="true"></i>
        <h5>Agro Products Store</h5>
      </a>
    </span>
  </div>
</div>
