.navbar {
  z-index: 50;
}
.dropdown-toggle {
  cursor: pointer;
}

.site-header {
  /* background-color: rgb(66, 109, 84); */
  background-color: #4b9643;

  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  /* color: rgb(3, 3, 3); */
  color: rgb(252, 246, 246);
  transition: ease-in-out color 0.15s;
}
.site-header a:hover {
  /* color: white; */
  color: rgb(162, 211, 28);
  text-decoration: none;
}

.dropdown-menu {
  background: rgb(58, 151, 97);
  /* background: rgb(215, 224, 219); */
}

.dropdown-menu a:hover {
  color: black;
  text-decoration: none;
}

/* body {
  padding-bottom: 20px;
} */

/* .navbar {
  margin-bottom: 20px;
} */
