<!-- <nav class="site-header navbar navbar-expand-lg navbar-dark sticky-top"> -->
<nav class="site-header navbar navbar-expand-lg navbar-dark">
  <div class="container navbar-container">
    <a class="navbar-brand py-2 d-none d-md-inline-block" routerLink="/">
      <img src="{{ navBarLogo }}" alt="logo" height="50px" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExample07XL"
      aria-controls="navbarsExample07XL"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarsExample07XL"
      [ngClass]="{ show: navbarOpen }"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mx-2">
          <a class="py-2 nav-link" routerLink="/">Home</a>
        </li>

        <li class="nav-item mx-2" routerLinkActive="active current">
          <!-- <a class="py-2 nav-link" href="about">About Us</a> -->
          <a class="py-2 nav-link" routerLink="/about">Abut Us</a>
        </li>

        <li class="nav-item mx-2" routerLinkActive="active current">
          <!-- <a class="py-2 nav-link" href="partners">Partners</a> -->
          <a class="py-2 nav-link" routerLink="/partners">Partners</a>
        </li>

        <li
          ngbDropdown
          class="nav-item dropdown mx-2"
          routerLinkActive="active current"
        >
          <a
            class="py-2 d-none d-md-inline-block dropdown-toggle nav-link"
            ngbDropdownToggle
            id="dropdown01"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Services
          </a>
          <div
            ngbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="dropdown01"
          >
            <a ngbDropdownItem class="dropdown-item" href="#dashboard-section">
              Pest and Disease Prediction
            </a>
            <a ngbDropdownItem class="dropdown-item" href="#weather-section">
              Weather Forecasting for agriculture
            </a>
            <a ngbDropdownItem class="dropdown-item" href="#product-section">
              Agro Product Buying And Selling Service Provider
            </a>
            <a ngbDropdownItem class="dropdown-item" routerLink="#">
              Irrigation Optimization
            </a>
            <a ngbDropdownItem class="dropdown-item" routerLink="#">
              Insects Monitoring
            </a>
            <a ngbDropdownItem class="dropdown-item" routerLink="#">
              Fleet Monitoring
            </a>
            <a ngbDropdownItem class="dropdown-item" routerLink="#">
              Consultation
            </a>
            <a ngbDropdownItem class="dropdown-item" routerLink="#">
              Recommendations
            </a>
          </div>
        </li>
        <li class="nav-item mx-2">
          <a class="py-2 nav-link" routerLink="products">
            <span class="badge badge-warning badge-pill">
              Products
              <i class="fa fa-shopping-cart mx-1" aria-hidden="true"></i>
            </span>
          </a>
        </li>

        <li class="nav-item mx-2" routerLinkActive="active current">
          <!-- <a class="py-2 nav-link" href="contact">Contact Us</a> -->
          <a class="py-2 nav-link" routerLink="/contact">Contact Us</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-auto" *ngIf="appUser; else anonymousUser">
        <li
          ngbDropdown
          class="nav-item dropdown mx-2"
          routerLinkActive="active current"
        >
          <a
            class="py-2 d-none d-md-inline-block dropdown-toggle nav-link"
            ngbDropdownToggle
            id="dropdown01"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ appUser.name }}
          </a>
          <div
            ngbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="dropdown01"
          >
            <a ngbDropdownItem class="dropdown-item" routerLink="/products">
              Agro Dashboard
            </a>
            <a ngbDropdownItem class="dropdown-item" routerLink="/edit-profile">
              Provide info
            </a>
            <a ngbDropdownItem class="dropdown-item" routerLink="#">
              Buy Agro Products
            </a>
            <a
              ngbDropdownItem
              class="dropdown-item"
              routerLink="/shopping-cart"
            >
              My Shopping Cart
            </a>
            <a ngbDropdownItem class="dropdown-item" routerLink="#">
              My Orders
            </a>
            <hr />

            <ng-container *ngIf="appUser.isAdmin">
              <a ngbDropdownItem class="dropdown-item" href="admin/orders">
                Manage Orders
              </a>
              <a ngbDropdownItem class="dropdown-item" href="admin/products">
                Manage Products
              </a>
              <hr />
            </ng-container>

            <a ngbDropdownItem class="dropdown-item" (click)="logout()">
              Log Out
            </a>
          </div>
        </li>
      </ul>

      <ng-template #anonymousUser>
        <a class="py-2 nav-link" routerLink="register">Register</a>
        <a class="py-2 nav-link" routerLink="login">Log in</a>
      </ng-template>
    </div>
  </div>
</nav>
