<div class="container full-height py-5">
  <!-- <weather-widget></weather-widget> -->
  <h2>Dashboard for Agricultural Monitoring</h2>
  <hr />
  <p>
    Dashboard is a visual service where you can easy work with Weather
    Predictions, Pest Spread Predictions satellite imagery and weather data for
    your cultivation.
  </p>

  <div class="row px-2 my-5">
    <div class="col-md-8 col-sm-12">
      <div pt-3>
        <h5>
          You only have to share your location details with us <br />
          Our Dashboard will provide You :
        </h5>
        <ul>
          <li>Pest Diseases Prediction Alert/Notification</li>
          <li>Daily and Weekly weather forecasts</li>
          <li>Current & Historical weather data</li>
          <li>Accumulated tempreture and precipitation</li>
          <li>New Satellite imagery of the area and its statistics</li>
        </ul>
      </div>
    </div>
    <div class="col-md col-sm-12">
      <img style="border-radius: 15px;" src="{{ dashboardImage1 }}" alt="" />
    </div>
  </div>
  <hr />
  <div class="row py-5 px-2">
    <div class="col-md col-sm-12">
      <img style="border-radius: 15px;" src="{{ dashboardImage2 }}" alt="" />
    </div>
    <div class="col-md-8 col-sm-12">
      <br /><br />
      Also we provide all our Machine Learning based predictions regarding pest
      attacks , weather changes and other recommended advices 5-6 days early vis
      SMS to your mobile phone
    </div>
  </div>
  <hr />
  <div class="row py-5 px-2">
    <div class="col-md-8 col-sm-12">
      <br /><br />
      It is also contents lots of interesting features for farmers. With the
      simple interface, they will be able to get useful agricultural data for
      their fields to monitor them and analyse their state straightforwardly
      without any programming. Farmers will be able to obtain important
      information for their fields, which will be useful during all seasons and
      phases of work with their fields.
    </div>
    <div class="col-md col-sm-12">
      <img style="border-radius: 15px;" src="{{ dashboardImage3 }}" alt="" />
    </div>
  </div>
  <hr />
  <div class="row py-5 px-2">
    <div class="col-md col-sm-12">
      <img style="border-radius: 15px;" src="{{ dashboardImage4 }}" alt="" />
    </div>
    <div class="col-md-8 col-sm-12">
      <h5>Special parameters for agriculture:</h5>
      <br />
      <ul>
        <li>Accumulated temperature and precipitation</li>
        <li>soil temperature and moisture</li>
        <li>
          Accumulated temperature and precipitation is essential to make a right
          decision depends on a threshold setting.
        </li>
        <li>
          Temperature quantity index calculated as the sum of daily
          temperatures.
        </li>
        <li>
          Humidity quantity index expressed as the sum of daily precipitation.
        </li>
        <li>
          Soil temperature and moisture are essential indices that allow your
          customer to adjust irrigation work and prevent crop roots damage.
        </li>
      </ul>
      ,
    </div>
  </div>
</div>
