.map {
  margin: 0 0 0;
}
.map iframe {
  height: 200px;
  width: 75%;
  border: 0;
}

.contact-div {
  /* background-color: rgb(204, 199, 199); */
  background: url(../../assets/img/slide4.jpg);
  background-attachment: fixed;
}
.example-form-field {
  width: 40vw;
}
