<div class="container">
  <div class="container shadow-border">
    <h1 style="text-align: center;" class="pt-5 mt-3">Edit Farmer Profile</h1>
    <h6 style="text-align: center;">{{ uid }}</h6>
    <h3 style="text-align: center;" class="pt-2 mt-3">
      These data is really important for getting an accurate Pest Predictions
    </h3>
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="row my-3">
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              #email="ngModel"
              [(ngModel)]="appUser.email"
              name="email"
              id="email"
              type="text"
              class="form-control"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input
              #name="ngModel"
              [(ngModel)]="appUser.name"
              name="name"
              id="name"
              type="text"
              class="form-control"
              readonly
            />
            <!-- <div
              class="alert alert-danger"
              *ngIf="name.touched && name.invalid"
            >
              name is required
            </div> -->
          </div>

          <div class="form-group">
            <label for="city">City/Village</label>
            <input
              #city="ngModel"
              [(ngModel)]="user.city"
              name="city"
              id="city"
              type="text"
              class="form-control"
              required
            />
            <div
              class="alert alert-danger"
              *ngIf="city.touched && city.invalid"
            >
              City/Village is required
            </div>
          </div>

          <!-- <div class="form-group">
            <label for="district">District</label>
            <input
              #district="ngModel"
              ngModel
              name="district"
              id="district"
              type="text"
              class="form-control"
              required
            />
            <div
              class="alert alert-danger"
              *ngIf="district.touched && district.invalid"
            >
              District is required
            </div>
          </div> -->

          <div class="form-group">
            <label for="district">District</label>
            <select
              #district="ngModel"
              [(ngModel)]="user.district"
              name="district"
              id="district"
              class="form-control"
              required
            >
              <option value=""></option>
              <option *ngFor="let d of districts$ | async" [value]="d.key">
                {{ d.payload.val().name }}
              </option>
            </select>
            <div
              class="alert alert-danger"
              *ngIf="district.touched && district.invalid"
            >
              district is required
            </div>
          </div>

          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input
              #phone="ngModel"
              [(ngModel)]="user.phone"
              name="phone"
              id="phone"
              type="number"
              class="form-control"
              required
              [min]="10"
            />
            <div
              class="alert alert-danger"
              *ngIf="phone.touched && phone.invalid"
            >
              <div *ngIf="phone.errors.required">Phone Number is required</div>
              <div *ngIf="phone.errors.min">Invalid phone Number</div>
            </div>
          </div>

          <!-- <div class="form-group">
                  <label for="category">Category</label>
                  <select
                    #category="ngModel"
                    [(ngModel)]="product.category"
                    name="category"
                    id="category"
                    class="form-control"
                    required
                  >
                    <option value=""></option>
                    <option *ngFor="let c of categories$ | async" [value]="c.key">
                      {{ c.payload.val().name }}
                    </option>
                  </select>
                  <div
                    class="alert alert-danger"
                    *ngIf="category.touched && category.invalid"
                  >
                    Category is required
                  </div>
                </div> -->

          <!-- <div class="form-group">
                  <label for="imageUrl">Image URL</label>
                  <input
                    #imageUrl="ngModel"
                    [(ngModel)]="product.imageUrl"
                    name="imageUrl"
                    id="imageUrl"
                    type="text"
                    class="form-control"
                    required
                    url
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="imageUrl.touched && imageUrl.invalid"
                  >
                    <div *ngIf="imageUrl.errors.required">ImageUrl is required</div>
                    <div *ngIf="imageUrl.errors.url">Please enter a valid URL..</div>
                  </div>
                </div> -->
        </div>
        <div class="col-md-6">
          <!-- <div class="card" style="width: 18rem;">
          <img [src]="product.imageUrl" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">
              {{ product.price | currency: "RS:":true }}
            </p>
            <p class="card-text">
              Preview
            </p>
          </div>
        </div> -->
          <div class="form-group">
            <label for="location">Share your cultivation area location</label>
            <input
              #location="ngModel"
              [(ngModel)]="user.location"
              name="location"
              id="location"
              type="text"
              class="form-control"
              required
            />
            <div
              class="alert alert-danger"
              *ngIf="location.touched && location.invalid"
            >
              Location is required to get predictions
            </div>
          </div>

          <div class="form-group">
            <label for="crops">Choose Crops you have cultivated</label>
            <select
              #crops="ngModel"
              [(ngModel)]="user.crops"
              name="crops"
              id="crops"
              class="form-control"
              required
            >
              <option value=""></option>
              <option *ngFor="let cr of crops$ | async" [value]="cr.key">
                {{ cr.payload.val().name }}
              </option>
            </select>
            <div
              class="alert alert-danger"
              *ngIf="crops.touched && crops.invalid"
            >
              crops is required
            </div>
          </div>

          <button [disabled]="!f.valid" type="submit" class="btn btn-success">
            Save
          </button>
        </div>
      </div>
    </form>
    <hr />
  </div>
</div>
