<div class="container py-3">
  <div class="row">
    <div class="col-md-3 col-sm-12 mb-2">
      <div class="sticky-top">
        <products-nav-bar></products-nav-bar>
        <product-filter [category]="category"></product-filter>
      </div>
    </div>
    <div class="col-md-9 col-sm-12">
      <div class="row">
        <ng-container *ngFor="let p of filteredProducts; let i = index">
          <div class="col-md-6 col-sm-12">
            <div class="card" style="width: 100%;">
              <img
                src="{{ p.payload.val().imageUrl }}"
                class="card-img-top"
                style="height: 20rem;"
              />
              <div class="card-body">
                <h5 class="card-title">{{ p.payload.val().title }}</h5>
                <p class="card-text">
                  <b>Price: </b>
                  {{ p.payload.val().price | currency: "Rs:":true }}
                </p>
                <p class="card-text">
                  <b> Category:</b> {{ p.payload.val().category }}
                </p>
                <p class="card-text">
                  Product Description
                </p>
              </div>
              <div class="card-footer zero-padding">
                <button
                  *ngIf="getQuantity(p) === 0; else updateQuantity"
                  (click)="addToCart(p)"
                  class="btn btn-success btn-block zero-margin"
                >
                  Add to Cart
                </button>
                <ng-template #updateQuantity>
                  <div class="row">
                    <div class="col-2">
                      <button
                        (click)="removeFromCart(p)"
                        class="btn btn-secondary btn-block zero-margin"
                      >
                        -
                      </button>
                    </div>
                    <div class="col text-center">
                      <b> {{ getQuantity(p) }} In Cart </b>
                    </div>
                    <div class="col-2">
                      <button
                        (click)="addToCart(p)"
                        class="btn btn-secondary btn-block zero-margin"
                      >
                        +
                      </button>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
