<div class="card p-4 bg-dark text-white">
  <img src="" class="card-img-top cart-title" />
  <h3>Details about you</h3>
  <p>
    Please consider that all our pest predictions are calculated according to
    these details you have provided us.
  </p>
  <div class="card-body text-white">
    <table class="table text-white">
      <tr>
        <td>Your Name :</td>
        <td>
          <h5 class="card-title cart-text">{{ appUser.name }}</h5>
        </td>
      </tr>
      <tr>
        <td>Your City :</td>
        <td>
          <h5 class="card-title">{{ appUser.city }}</h5>
        </td>
      </tr>
      <tr>
        <td>Your District :</td>
        <td>
          <h5 class="card-title">{{ appUser.district }}</h5>
        </td>
      </tr>
      <tr>
        <td>Google Geo Location :</td>
        <td>
          <h5 class="card-title">{{ appUser.location }}</h5>
        </td>
      </tr>
      <tr>
        <td>Your Phone Number :</td>
        <td>
          <h5 class="card-title">{{ appUser.phone }}</h5>
        </td>
      </tr>
      <tr>
        <td>Crops you have cultivated :</td>
        <td *ngIf="appUser.crops === '1'">
          <h5 class="card-title">Samba</h5>
        </td>
        <td *ngIf="appUser.crops === '2'">
          <h5 class="card-title">Nadu</h5>
        </td>
        <td *ngIf="appUser.crops === '3'">
          <h5 class="card-title">Kekulu</h5>
        </td>
      </tr>
      <button type="button" class="btn btn-success" routerLink="/edit-profile">
        Edit Details
      </button>
    </table>
  </div>
</div>
