<!-- About us -->
<div
  id="about-us"
  @fade
  class="position-relative overflow-hidden p-md-5 text-center About-us-div"
>
  <div>
    <h1 class="font-weight-bold font-white">
      About Us
    </h1>
    <div class="row welcome-note px-5 p-5">
      <div class="col-sm py-4">
        <img class="agro-innovative-logo" src="{{ companyLogo }}" alt="" />
      </div>
      <div class="col-sm py-5">
        <p class="lead font-weight-normal font-white text-justify">
          {{ companyName }}(PVT) LTD<br />
          We are a company which provides smart agricultural solutions to
          protect harvest of our beloved farmers. <br /><br />
          <br />
          Team Agro-Innovative is behind this project. This is a research
          project under Generation Unlimited Global Youth Challenge organized by
          UNDP/UNICEF in collaboration with Education Department of Sri Lanka.
        </p>
        <br />
        <a
          class="btn btn-lg btn-success font-weight-bold"
          routerLink="/contact"
        >
          Contact Us
        </a>
      </div>
    </div>
  </div>
</div>
<our-team></our-team>
