<!-- welcome box -->
<div
  id="welcome-div"
  class="position-relative overflow-hidden p-md-5 text-center welcome-div"
  @fade
>
  <div
    class="col-md-5 mx-auto my-5 welcome-note animate__animated animate__flipInX"
  >
    <img
      src="../../assets/img/elzian_agro.png"
      alt="ELZIAN AGRO"
      height="250px"
    />
    <div class="welcome-text">
      <p
        class="lead text-black font-weight-bold"
        style="text-shadow: 2px 2px 4px white; opacity: 1; font-weight: 800;"
      >
        {{ companyName }} is a company which provides smart agronomy solutions
        to protect farmers hard earned harvest from pests
      </p>
    </div>
    <!-- <button mat-raised-button color="success" class="font-weight-bold" href="#">
      <a  class="btn btn-outline-success font-weight-bold" href="#">
      Coming soon
    </button> -->
  </div>
</div>

<!-- ecosystem box -->
<div class="position-relative overflow-hidden p-3 p-md-5 mx-5 text-center">
  <div class="mx-auto my-1">
    <h3 class="display-8 font-weight-normal animate__animated animate__flipInX">
      OUR ECOSYSTEM
    </h3>
    <p class="lead font-weight-normal"></p>
    <div class="row mx-auto py-5">
      <div class="col-md-3 col-sm-6" @slide>
        <img src="{{ ecoSystemImg[0] }}" alt="" />
        <div>
          <h5>AGRICULTURE EXPERTISE</h5>
          <p>
            Renown experts, university professors, agricultural consultants and
            farmers are our associates
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6" @slide>
        <img src="{{ ecoSystemImg[1] }}" alt="" />
        <h5>DOCUMENTATIONS</h5>
        <p>
          Instructions and manuals,recommendations - all at your cultivation.
        </p>
      </div>
      <div class="col-md-3 col-sm-6" @slide>
        <img src="{{ ecoSystemImg[2] }}" alt="" />
        <h5>CLOUD PLATFORM</h5>
        <p>
          Solutions are hosted on AWS to ensure scalability, reliability and
          easy compliance with relevant security and data privacy rules.
        </p>
      </div>
      <div class="col-md-3 col-sm-6" @slide>
        <img src="{{ ecoSystemImg[3] }}" alt="" />
        <h5>SENSORS AND GATEWAYS</h5>
        <p>
          We combine hardware components from multiple vendors to get the best
          cost/performance ratio.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Pest and disease box -->
<div
  class="position-relative overflow-hidden p-3 p-md-5 text-center pest-disease-div full-height"
  @fade
>
  <div class="col-md-5 p-lg-5 mx-auto my-5 pest-disease-note">
    <h1
      class="display-4 font-weight-normal"
      style="text-shadow: 2px 2px 8px #000;"
    >
      Pest And Disease
    </h1>
    <p
      class="lead font-weight-normal text-white font-weight-bold"
      style="text-shadow: 2px 2px 8px #000;"
    >
      <br />
      Optimized pesticide usage and protect your harvest using machine learning
      digital pest spread prediction model
      <br />
    </p>
    <a
      class="btn btn-success btn-outline-secondary btn-read-more font-weight-bold"
      href="#dashboard-section"
      >Read More</a
    >
  </div>
</div>

<!-- Youtube Embedded -->
<div class="p-5">
  <div class="embedded-video container">
    <iframe
      style="text-align: center; top: 0; left: 0;"
      src="https://www.youtube.com/embed/E6QxP0S6178?loop=1;title=1&amp;byline=0&amp;portrait=0&amp;color=ff0179&amp;loop=1"
      width="100%"
      height="100%"
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
    ></iframe>
  </div>
</div>

<!-- dashboard section -->
<dashboard-section id="dashboard-section"></dashboard-section>

<!-- weather-forecasting section -->
<weather-section id="weather-section"></weather-section>

<!-- product buying and selling info section -->
<product-section id="product-section"></product-section>

<!-- Join our eco system -->
<!-- <partners></partners> -->

<!-- Team Members -->
<about></about>

<!-- Mentors tab -->
<mentors></mentors>

