<!-- <div class="container">
    <div class="footer-grids row">
      <div class="col-12 col-md footer-grid">
        <img class="ourLogo pt-4" src="{{ ourLogo }}" alt="" />
      </div>
      <div class="col-4 col-md footer-grid">
        <h3 class="title">Services</h3>
        <ul>
          <li><a routerLink="/">Pest Prediction</a></li>
          <li><a href="#">Irrigation Optimization</a></li>
          <li><a href="#">Insects Monitoring</a></li>
          <li><a href="#">Fleet Monitoring</a></li>
          <li><a href="#">Consultation</a></li>
        </ul>
      </div>
      <div class="col-4 col-md footer-grid">
        <h3 class="title">More Info</h3>
        <ul>
          <li><a routerLink="/about">About us</a></li>
          <li><a routerLink="/partners">Partners</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-4 col-md footer-grid contact-grid">
        <h3 class="title">Contact us</h3>
        <ul>
          <li>
            ELZIAN (PVT) LTD, Mallavapittiya, <br />Keppedigala Rd,<br />
            Kurunegala.
          </li>
          <li>+94 768416637</li>
          <li><a href="mailto:example@mail.com">hello@elzian.com</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div> -->

<!-- <hr /> -->
<div class="footer">
  <div class="sticky-bottom">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <img class="ourLogo" src="{{ ourLogo }}" alt="" />
          <small class="d-block mb-3 text-muted">&copy;Elzian Company</small>
        </div>
        <div class="col-6 col-md">
          <h5>Services</h5>
          <ul class="list-unstyled text-small">
            <li>
              <a class="text-muted" href="#">Pest and Disease Prediction</a>
            </li>
            <li><a class="text-muted" href="#">Irigation optimization</a></li>
            <li><a class="text-muted" href="#">Insects Monitoring</a></li>
            <li><a class="text-muted" href="#">Feet Monitoring</a></li>
            <li><a class="text-muted" href="#">Consultation</a></li>
            <li>
              <a class="text-muted" href="#">Recommendations Providing</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Products</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Advertiaing Platform</a></li>
            <li><a class="text-muted" href="#">Machinary</a></li>
            <li><a class="text-muted" href="#">Seeds</a></li>
            <li><a class="text-muted" href="#">Pesticides/Fertilizer</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Sections</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" routerLink="/about">About us</a></li>
            <li><a class="text-muted" routerLink="/partners">Partners</a></li>
            <li>
              <a class="text-muted" href="products">Terms &amp; products</a>
            </li>
            <li><a class="text-muted" routerLink="/contact">Contact Us</a></li>
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li class="text-muted">
              ELZIAN (PVT) LTD, Mallavapittiya, <br />Keppedigala Rd,<br />
              Kurunegala.
            </li>
            <li class="text-muted">+94 768416637</li>
            <li class="text-muted">
              <a href="mailto:example@mail.com">hello@elzian.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="copy">
  <div class="container" style="align-self: center;">
    <div class="row">
      <div class="col-md-2">
        <img
          src="{{ elzianSoftwareLogo }}"
          alt="Elzian Software"
          height="50px"
        />
      </div>
      <div class="col-md">
        <div>
          <p>
            Copyright © 2020. All rights reserved | Designed by
            <b class="font-weight-bold text-white"> ELZIAN Software </b>
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="social-icons">
          <ul>
            <li><a href="#" class="fb"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#" class="gg"></a></li>
            <li><a href="#" class="pn"></a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- <div class="copy-left">
      <p>
        Copyright © 2020. All rights reserved | Digitally crafted by
        <b class="font-weight-bold text-white"> ELZIAN Software </b>
      </p>
    </div>
    <div class="social-icons">
      <ul>
        <li><a href="#" class="fb"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#" class="gg"></a></li>
        <li><a href="#" class="pn"></a></li>
      </ul>
    </div>
    <div class="clearfix"></div> -->

    <!-- <div class="clearfix"></div> -->
  </div>
</div>
<!--//footer-->
